.Menu {
  font-size: 22px;
  color: white;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 10px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.Menus {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 20px;
}

.main_container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.vertical_line_container {
  position: absolute;
  margin-left: -9px;
  background-color: #8396f4;
  width: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 81px;
  margin-top: -9px;
  transition: width 0.3s;
  z-index: 100;
}

.vertical_line_expanded {
  width: 129px;
}

.icon_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.icon_item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  padding: 7px;
  width: 84%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icon_item:hover {
  background-color: #6c7cff;
  border-radius: 0px;
}

.icon_item.selected {
  background-color: #4a5dff;
  width: 84%;
}

.icon_item svg {
  flex-shrink: 0;
}

.icon_name {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateX(-20px);
  position: relative;
}

.vertical_line_expanded .icon_name {
  opacity: 1;
  transform: translateX(0);
}

.vertical_line_expanded .icon_item:hover {
  background-color: #6c7cff;
  border-radius: 0px;
}

.vertical_line_expanded .icon_item.selected {
  background-color: #4a5dff;
  border-radius: 0px;
  width: 84%;
}

.vertical_line_container:not(.vertical_line_expanded) .icon_item {
  background-color: transparent;
}

.task_container {
  margin-left: 45px;
  padding: 20px;
  max-width: 800px;
  transition: margin-left 0.3s ease-in-out;
}

.task_topic {
  font-size: 24px;
  color: #8396f4;
  margin-bottom: 20px;
}

.task_header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 476%;
}

.task_input {
  flex: 1;
  padding: 10px;
  border: 3px solid #a9b5f0;
  border-radius: 24px;
  outline: none;
}

.add_icon {
  font-size: 24px;
  cursor: pointer;
  color: #4a5dff;
}

.task_table {
  width: 462%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task_table th,
.task_table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.task_table th {
  background-color: #a9b5f0;
  color: white;
}

.edit_icon {
  cursor: pointer;
  font-size: 18px;
  color: #a9b5f0;
}

.delete_icon {
  cursor: pointer;
  font-size: 18px;
  color: #e74c3c;
}
